<ion-app>
    <!-- <ion-content> -->
    <!-- <div class="ion-page" id="main-content"> -->
    <div class="flex flex-col items-start py-[20px]">
        <span>app progress bar using rxjs</span>
        <div class="h-[30px] w-full border-[1px] border-[black]">

        </div>
        <h1>
            Todo :<br>
            - websoket chat room using websoket + iframe postmessage<br>
            - firebase cloud message - fetch data<br>
            - virtual scroll table and formsubmit using exhaustMap <br>
        </h1>
    </div>
    <!-- </div> -->
    <!-- </ion-content> -->



</ion-app>