<ion-modal isOpen="true" #modal [trigger]="dialogName">
  <ng-template>
    <div>
      <div
        class="relative w-full flex justify-center items-center py-[20px] text-[30px]"
      >
        <strong>{{dialogTitle}}</strong>
        <!-- <ion-buttons "> -->
        <button
          class="absolute top-[15px] right-[20px]"
          (click)="closeModal(modal)"
        >
          x
        </button>
        <!-- </ion-buttons> -->
      </div>
      <form [formGroup]="formDialogParam" class="flex flex-row flex-wrap">
        <div
          class="w-[calc(50%_-_20px)] p-[10px] mx-[10px] my-[10px] flex flex-col"
          *ngFor="let item of  listFormControlName ; let i = index"
        >
          <label *ngIf="listTitleInput && listTitleInput[i]" [for]="item"
            >{{ listTitleInput![i]}}</label
          >
          <input
            [formControlName]="item"
            class="border-[gray] border-[1px] rounded-[10px] pl-[10px] h-[40px]"
          />
        </div>
      </form>
      <div
        class="flex flex-row justify-center border-[1px] border-[black] h-[50px] items-center"
      >
        <button
          class="h-full w-[100px] mx-[20px] rounded-[10px] border-[1px] border-[red]"
        >
          save
        </button>
        <button
          class="h-full w-[100px] mx-[20px] rounded-[10px] border-[1px] border-[red]"
        >
          cancel
        </button>
      </div>
    </div>
  </ng-template>
</ion-modal>
