<!-- <div class="ion-page" id="main-content"> -->
<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <div class="border-[1px] px-[20px] ">
            <div class=" float-right">
                <div class="flex items-center">
                    <div>noti</div>
                    <div class="flex flex-row items-center">
                        <div class="rounded">
                            h1
                        </div>
                        <div class="p-[10px] relative">
                            <h1>Quang ninh</h1>
                            <h2>Admin</h2>

                            <!-- <div class="absolute z-30 bg-[red]"> -->
                            <!-- <div>
                                    isClickLogout
                                </div>
                                <div>
                                    isClickLogout
                                </div> -->
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-toolbar>
</ion-header>
<!-- </div> -->


<ng-template #counterTmpl *ngIf="true">

</ng-template>