<!-- <div class="ion-page" id="main-content"> -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="border-[1px] px-[20px]">
      <div class="float-right">
        <div class="flex items-center">
          <div>noti</div>
          <div class="flex flex-row items-center">
            <div class="rounded">h1</div>
            <div class="p-[10px] relative">
              <h1>Quang ninh</h1>
              <h2>Admin</h2>
            </div>
            <div>
              <ion-buttons id="button-popover">
                <button (click)="presentPopover($event)">Click Me</button>
              </ion-buttons>

              <ion-popover [trigger]="'button-popover'" #popover>
                <ng-template>
                  <ion-content class="ion-padding">
                    <div class="flex px-[10px] flex-col">
                      <div
                        class="py-[10px]"
                        (click)="checkRoute()"
                      >
                        Thông tin tài khoản
                      </div>
                      <div class="py-[10px]" (click)="logOut()">Đăng xuất</div>
                    </div>
                  </ion-content>
                </ng-template>
              </ion-popover>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-toolbar>
</ion-header>
<!-- </div> -->

<ng-template #counterTmpl *ngIf="true"> </ng-template>
