<div class="flex flex-col w-[100%] p-[15px] border-[1px]">
    <div class="flex flex-row w-full justify-between">
        <h5>{{titleScreen}}</h5>
        <app-button [id]="'form-add'" (clickEvent)="createEditAddForm()">
            <h1 class="text-[red]">{{titleButtonAdd}}</h1>
        </app-button>

    </div>

    <div class="py-[10px] flex flex-row justify-between">
        <div>
            <app-button [id]="'delete-all'" (clickEvent)="openModalDelete()">xóa theo check </app-button>
            <!-- <app-dialog>
            </app-dialog> -->
        </div>
        <div>
            <app-inputSearch>

            </app-inputSearch>
        </div>
    </div>
    <div class="py-[15px]">
        <table #tableView class="border-collapse border-[1px] w-[100%]" *ngIf="tableData.length">
            <tr class="bg-[yellowgreen]">
                <td>
                    <ion-checkbox #ionCheckBoxALL [(ngModel)]="masterSelected" (ionChange)="changeEvent()">
                        <input data-checkALL type="checkbox" />
                    </ion-checkbox>
                </td>
                <td *ngFor="let items of tableData[0] | arrayObject:true">
                    {{items}}
                </td>
                <td colspan="2">
                    test
                </td>
            </tr>
            <tr *ngFor="let row of tableData ;  let i = index">
                <td>
                    <ion-checkbox #checkboxChild [(ngModel)]="listItemCheckBox[i]">
                        <input data-checkChild type="checkbox" />
                    </ion-checkbox>
                </td>
                <td *ngFor="let item  of row | arrayObject">
                    {{item}}
                </td>
                <td>

                    <app-button (clickEvent)="createEditAddForm($event)">
                        edit
                    </app-button>

                </td>
                <td>
                    <app-button [id]="'row'+i" (clickEvent)="openModalDelete(row)">
                        delete
                    </app-button>
                    <!-- <app-dialog [dialogTitle]="'khách hàng'" [dialogName]="'row'+i" [dataParam]="row">
                    </app-dialog> -->
                </td>
            </tr>
        </table>
    </div>
</div>