tr td {
    text-align: center;
    align-items: center;
    // display: flex;
    padding: 5px 10px;
    &:first-child{
        display: flex;
        align-items: center;
        input[type~=checkbox]{
            height:100%;
            margin:auto;
            margin-top:7px;
            // display: flex;
            // align-items: center;
        }
    }
}