<h1>App banner form work testing !</h1>

<ng-container *ngIf="FormEditAddBanner">
  <div [formGroup]="FormEditAddBanner">
    <div class="grid grid-cols-2 grid-flow-row">
      <div class="flex flex-col col-span-2 gap-[20px]">
        <label for="bannerUrl">
          <img
            #imgInstance
            [src]="defaultImgLink"
            class="w-[70vw] max-h-[20vh] object-fill border-[black] border-[1px] text-center leading-[30vh]"
            alt="chua co anh hien thi "
        /></label>
        <input
          class="hidden"
          accept="/*"
          type="file"
          id="bannerUrl"
          (change)="previewImg($event)"
          formControlName="bannerUrl"
        />
      </div>
      <div class="flex flex-col p-[10px]">
        <label for="bannerId">Mã banner</label>
        <input
          type="text"
          autocomplete="false"
          class="border-[gray] border-[1px] rounded-[10px] p-[10px]"
          formControlName="bannerId"
          id="bannerId"
        />
      </div>
      <div class="flex flex-col p-[10px]">
        <label for="userId">Mã nhân viên</label>
        <!-- <input
          type="text"
          autocomplete="false"
          class="border-[gray] border-[1px] rounded-[10px] p-[10px]"
          formControlName="userId"
          id="userId"
        /> -->
        <app-selectInput
          [formControlProps]="FormEditAddBanner.controls['userId']"
          [listItem]="listUserIdSignal()"
          [defaultValue]="FormEditAddBanner.controls['userId'].value"
          customClass=""
        >
        </app-selectInput>
        <!-- <select formControlName="userId">
          <option value="">1</option>
          <option value="">1</option>
          <option value="">1</option>
        </select> -->
      </div>
      <div class="flex flex-col p-[10px]">
        <label for="location">Vị trí</label>
        <!-- <input
          type="text"
          autocomplete="false"
          class="border-[gray] border-[1px] rounded-[10px] p-[10px]"
          formControlName="location"
          id="location"
        /> -->
        <app-selectInput
          [formControlProps]="FormEditAddBanner.controls['location']"
          customClass=""
          [listItem]="listLocationData"
        >
        </app-selectInput>
        <!-- <select formControlName="location">
          <option value="">1</option>
          <option value="">1</option>
          <option value="">1</option>
        </select> -->
      </div>
      <div class="flex flex-col p-[10px] justify-start text-left">
        <label for="status">Trạng thái hiển thị</label>
        <input
          type="checkbox"
          formControlName="status"
          class="w-[10px]"
          id="status"
        />
      </div>
    </div>
    <div class="mb-[20px] flex flex-row justify-center h-[40px] items-center">
      <button
        class="h-full w-[100px] mx-[20px] rounded-[5px] border-solid border-[1px] border-[black]"
        (click)="resetForm()"
      >
        Làm mới
      </button>
      <button
        class="h-full w-[100px] mx-[20px] rounded-[5px] bg-[yellowgreen]"
        (click)="submitForm()"
      >
        Lưu lại
      </button>
    </div>
  </div>
</ng-container>
