<ion-modal #modal [trigger]="dialogName">
    <ng-template>
        <div>
            <div>X</div>
            <div>Bạn có chắc chắn muốn xóa {{dialogTitle}}</div>
            <div><ion-buttons>

                    <!-- <ion-button (click)="submitForm()"></ion-button> -->
                    <app-button (clickEvent)="cancelForm(modal)">Hủy</app-button>
                    <app-button id="confirm" (clickEvent)="submitForm()">
                        Xác nhận
                    </app-button>
                </ion-buttons></div>
        </div>
    </ng-template>
</ion-modal>